@mixin container{
    max-width: 1200px;
    padding: 0px 30px;
    margin: 0 auto;
}
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
